/* reset */
button {
  all: unset;
}

.Container {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.SelectTrigger {
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  height: 24px;
  padding: 0 5px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  background-color: var(--color-dark-700);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}

//.SelectTrigger[data-placeholder] {
//  color: var(--violet-9);
//}

.SelectIcon {
  color: var(--color-light-100);
}

.SelectContent {
  overflow: hidden;
  background-color: var(--color-dark-500);
  border: 1px solid var(--color-dark-500);
  border-radius: 2px;
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  user-select: none;

  position: relative;

  display: flex;
  align-items: center;

  height: 25px;
  padding: 0 5px;

  font-size: 13px;
  line-height: 1;
  color: var(--color-light-100);

  border-radius: 3px;
}

.SelectItem[data-disabled] {
  pointer-events: none;
  color: var(--color-light-100);
}

.SelectItem[data-highlighted] {
  color: var(--color-accent-300);
  background-color: var(--color-accent-900);
  outline: none;
}

//.SelectLabel {
//  padding: 0 25px;
//  font-size: 12px;
//  line-height: 25px;
//  color: var(--color-success-700);
//}
//
//.SelectSeparator {
//  height: 1px;
//  margin: 5px;
//  background-color: var(--color-success-700);
//}

//.SelectItemIndicator {
//  position: absolute;
//  left: 0;
//
//  display: inline-flex;
//  align-items: center;
//  justify-content: center;
//
//  width: 25px;
//}

//.SelectScrollButton {
//  cursor: default;
//
//  display: flex;
//  align-items: center;
//  justify-content: center;
//
//  height: 25px;
//
//  color: var(--color-info-300);
//
//  background-color: var(--color-dark-500);
//}
