:root {
  /* globals */
  --font-family: 'Roboto', sans-serif;

  /* font-sizes */
  --font-size-xs: calc((100vw - 360px) / (1440 - 360) * (12 - 8 + 8px));
  --font-size-s: calc((100vw - 360px) / (1440 - 360) * (14 - 10 + 10px));
  --font-size-m: calc((100vw - 360px) / (1440 - 360) * (16 - 12 + 12px));
  --font-size-l: calc((100vw - 360px) / (1440 - 360) * (18 - 14 + 14px));
  --font-size-xl: calc((100vw - 360px) / (1440 - 360) * (20 - 16 + 16px));
  --font-size-xxl: calc((100vw - 360px) / (1440 - 360) * (22 - 18 + 18px));

  /* line-heights */
  --line-height-s: 16px;
  --line-height-m: 24px;
  --line-height-xl: 36px;

  /* font-weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}
