.box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 284px;
  height: 36px;

  border: 1px solid var(--color-dark-300);
  border-radius: 2px;

  transition:
    var(--transtition-duration-basic) background-color,
    var(--transtition-duration-basic) color,
    var(--transtition-duration-basic) border-color;

  &:hover:not(&.disabled) {
    color: var(--color-dark-100);
    background-color: var(--color-dark-700);
  }

  &:active:not(&.disabled) {
    color: var(--color-light-100);
    border: 1px solid var(--color-light-100);
  }

  &.disabled {
    color: var(--color-dark-300);
    border: 1px solid var(--color-dark-300);
  }

  &.error {
    color: var(--color-danger-300);
    border: 1px solid var(--color-danger-300);

    &::placeholder {
      color: var(--color-danger-300);
    }
  }

  .text {
    &:focus {
      color: var(--color-dark-100);
      background-color: var(--color-light-700);
      border: none;
      outline: 1px solid var(--color-info-700);
    }
  }

  .password {
    &:focus {
      color: var(--color-dark-100);
      border: 1px solid var(--color-info-700);
      outline: none;
    }
  }
}

.input {
  width: 100%;
  height: 36px;
  padding: 0 5px;

  color: var(--color-light-100);

  background-color: transparent;
}

.iconStart {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.iconEnd {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 36px;
  height: 36px;
}

.label {
  color: var(--color-dark-100);
}

.labelDisable {
  color: var(--color-dark-300);
}
